.container {
  max-width: 400px;
}

.title-todo {
  font-family: 'Alkatra', cursive;
}

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: rgba(119, 207, 241, 0.2);
  max-width: 400px;
}

.todos-container li {
  background: rgba(119, 207, 241, 0.2);
}

.delete {
  cursor: pointer;
}

.hidden {
  display: none;
}

.delete {
  color: #ff2626;
}